/*Cambiar la fuente */
body{
    font-family:arial, sans-serif;
}
/* Centrar main */
main{
    max-width: 80%;
    margin: 0 auto;
}

/*Header and main */
/*Cuando se repiten las letras en los colores se puede*/
/*resumir con solo 3 letras*/
/* Ej #dddddd = #ddd*/

/*Siempre se usa HEXADECIMEL*/
/*Se recomiendo RGB(RGBA) para dar opacidad*/

header{
    background-color: white;
    text-align: center;
    line-height: 2;
}

h1, h2{
    background-color:rgba(34, 49, 63, 1);
    text-transform: uppercase;
}
h1{
    color: white;
}
h2{
    color: white;
}


/* span, se debe llamarlo a traves de las clases*/

.item-detail{
    font-style: italic;
    font-weight: bold;
}

/* modificar el footer*/
footer{
    background-color:rgba(34, 49, 63, 1);
    text-align: center;
    line-height: 2;
    color: white;
    font-size: 1cm;
    
}